@font-face {
  font-family: 'Mont';
  src: local('Mont Extra Light'), local('Mont-Extra-Light'),
      url('../fonts/Mont-ExtraLight.woff2') format('woff2'),
      url('../fonts/Mont-ExtraLight.woff') format('woff'),
      url('../fonts/Mont-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Mont-bold';
  src: local('Mont Heavy'), local('Mont-Heavy'),
      url('../fonts/Mont-Heavy.woff2') format('woff2'),
      url('../fonts/Mont-Heavy.woff') format('woff'),
      url('../fonts/Mont-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
.btn-top {
  position: fixed;
  width: 45px;
  height: 45px;
  left: 30px;
  bottom: 30px;
  /* transition: .2s; */
  display: none;
}
.btn-top img {
  width: 100%;
}
.btn-top:hover {
  transform: translateY(-2px);
}
body {
  font-family: 'Mont';
  color: #D1D1D2;
}
p {
  font-size: 1.2em;
  line-height: 1.4;
}
.title {
  font-family: 'Mont-bold';
  color: #fff;
}
.subtitle {
  color: #557CB0;
}
.title-2 {
  position: relative;
  display: inline-block;
  
}
.title-2 h2 {
  font-size: 2.7em;
  position: relative;
  z-index: 1;
}
.title-2 .line {
  position: absolute;
  top: 25px;
  right: -110px;
  height: 28px;
  z-index: 0;
}
.button {
  color: #fff;
  background-color: #6697DA;
  border-radius: 22px;
  width: 200px;
  font-family: 'Mont-bold';
  z-index: 1;
  position: relative;
  font-size: 1.4em;
  padding: 8px;
  transition: 0.2s;
  text-transform: uppercase;
}
.button:hover {
  background-color: #fff;
  color: #15151A;
}
.button.reverse {
  background-color: #fff;
  color: #15151A;
}
.button.reverse:hover {
  color: #fff;
  background-color: #6697DA;
}
.button.mini {
  font-size: 0.8em;
  padding: 4px 25px;
  width: auto;
}
.button:active {
  transform: translateY(1px);
}
.content-block {
  padding-top: 130px;
}

.header {
  height: 100vh;
  background: url('../img/bg_head.png') center no-repeat #19181D;
  background-size: cover;
  padding-top: 30px;
  position: relative;
}
.header .row {
  width: 100%;
}
.header .nav {
  z-index: 99999;
}
.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav-list_item a {
  font-size: 0.8em;
  display: inline-block;
  text-align: center;
  border: 1px solid #6697DA;
  border-radius: 100px;
  padding: 5px auto;
  width: 115px;
  color: #D1D1D2;
  text-decoration: none;
  transition: 0.2s;
}
.nav-list_item a:hover {
  background-color: #fff;
  border-color: #fff;
  color: #15151A;
}
.nav-list_item a:active {
  transform: translateY(1px);
}
.logo, .vk {
  width: 30px;
}
.vk img {
  width: 100%;
}
.vk {
  transition: 0.2s;
}
.vk:hover {
  background-color: #fff;
  border-radius: 100px;
}
.vk:hover img {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.header .container {
  z-index: 0;
  position: absolute;
  left: 0;right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header .offer {
  position: relative;
  padding-left: 30px;
  margin-top: 40px;
}
.header .offer .background{
  position: absolute;
  left: -33%;
  top: -58%;
  width: 140%;
  z-index: 0;
}
.header h1 {
  font-size: 4.5em;
  position: relative;
  z-index: 1;
  line-height: 1;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
  background: #19181D;
}
.coach .content-block {
  background: url('../img/bg-coach.png') center no-repeat #19181D;
  background-size: cover;
}
.slider-coach *:focus{
  outline: none;
}
.slider-item .avatar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.slider-item .avatar .box {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 60px;
  position: absolute;
  left: 50%;
  margin-left: -75px;
  bottom: 0;
}
.slider-item .avatar img {
  position: absolute;
  height: 200px;
  bottom: 0;
}
.slider-item .avatar img.left {
  left: 50%;
  margin-left: -75px;
}
.slider-item .avatar img.right {
  right: 50%;
  margin-right: -75px;
}
.slider-item .avatar img.center {
  left: 50%;
  transform: translateX(-50%);
}
.slider-item .name {
  margin-top: 20px;
  font-size: 2em;
}
.slick-btn {
  background: none;
  border: none;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}
.slick-btn.next {
  right: 0;
}
.slick-btn img {
  width: 100%;
}

.our-mission {
  background: url('../img/bg-mission.png') center no-repeat #19181D;
  background-size: 110%;
}
.our-mission img {
  width: 350px;
  margin: 0 auto;
  display: block;
}

.reviews {
  background: url('../img/bg-reviews.png') center no-repeat #19181D;
  background-size: cover;
}
.review-block {
  background-color: #489FF8;
  padding: 20px 25px;
  border-radius: 30px;
  width: 100%;
  color: #fff;
  transition: .2s;
}
.review-block .title {
  font-size: 1em;
}
.review-block p {
  font-size: 0.8em;
}
.more-reviews {
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
}