@font-face {
  font-family: 'Mont';
  src: local('Mont Extra Light'), local('Mont-Extra-Light'),
      url('../fonts/Mont-ExtraLight.woff2') format('woff2'),
      url('../fonts/Mont-ExtraLight.woff') format('woff'),
      url('../fonts/Mont-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Mont-bold';
  src: local('Mont Heavy'), local('Mont-Heavy'),
      url('../fonts/Mont-Heavy.woff2') format('woff2'),
      url('../fonts/Mont-Heavy.woff') format('woff'),
      url('../fonts/Mont-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
.btn-top {
  position: fixed;
  width: 45px;
  height: 45px;
  left: 30px;
  bottom: 30px;
  display: none;
}
.btn-top img {
  width: 100%;
}
.btn-top:hover {
  transform: translateY(-2px);
}
body {
  font-family: 'Mont';
  color: #D1D1D2;
}
p {
  font-size: 1.2em;
  line-height: 1.4;
}
.title {
  font-family: 'Mont-bold';
  color: #fff;
}
.subtitle {
  color: #6697DA;
}
.title-2 {
  position: relative;
  display: inline-block;
  
}
.title-2 h2 {
  font-size: 2.7em;
  position: relative;
  z-index: 1;
}
.title-2 .line {
  position: absolute;
  top: 25px;
  right: -110px;
  height: 28px;
  z-index: 0;
}
.button {
  color: #fff;
  background-color: #6697DA;
  border-radius: 22px;
  width: 200px;
  font-family: 'Mont-bold';
  z-index: 1;
  position: relative;
  font-size: 1.4em;
  padding: 8px;
  transition: 0.2s;
  text-transform: uppercase;
}
.button:hover {
  background-color: #fff;
  color: #15151A;
}
.button.reverse {
  background-color: #fff;
  color: #15151A;
}
.button.reverse:hover {
  color: #fff;
  background-color: #6697DA;
}
.button.mini {
  font-size: 0.8em;
  padding: 4px 25px;
  width: auto;
}
.button:active {
  transform: translateY(1px);
}
.content-block {
  padding-top: 130px;
}

.header {
  height: 100vh;
  background: url('../img/bg_head.png') center no-repeat #19181D;
  background-size: cover;
  padding-top: 30px;
  position: relative;
}
.header .row {
  width: 100%;
}
.header .nav {
  z-index: 99999;
}
.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav-list_item a {
  font-size: 0.8em;
  display: inline-block;
  text-align: center;
  border: 1px solid #6697DA;
  border-radius: 100px;
  padding: 5px auto;
  width: 115px;
  color: #D1D1D2;
  text-decoration: none;
  transition: 0.2s;
  z-index: 99999;
}
.nav-list_item a:hover {
  background-color: #fff;
  border-color: #fff;
  color: #15151A;
}
.nav-list_item a:active {
  transform: translateY(1px);
}
.logo, .vk {
  width: 30px;
}
.vk img {
  width: 100%;
}
.vk {
  transition: 0.2s;
}
.vk:hover {
  background-color: #fff;
  border-radius: 100px;
}
.vk:hover img {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.header .container {
  z-index: 0;
  position: absolute;
  left: 0;right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header .offer {
  position: relative;
  padding-left: 30px;
  margin-top: 40px;
}
.header .offer .background{
  position: absolute;
  transform: translate(-26%, -26%);
  width: 140%;
  z-index: 0;
}
.header h1 {
  font-size: 4.5em;
  position: relative;
  z-index: 1;
  line-height: 1;
  margin-bottom: 20px;
}

section {
  padding: 100px 0;
  background: #19181D;
}
.coach .content-block {
  background: url('../img/bg-coach.png') center no-repeat #19181D;
  background-size: 100%;
}
.slider-coach *:focus{
  outline: none;
}
.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.avatar .box {
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 60px;
  position: absolute;
  left: 50%;
  margin-left: -75px;
  bottom: 0;
}
.avatar .box.blue {
  background-color: #6697DA;
}
.avatar img {
  position: absolute;
  height: 200px;
  bottom: 0;
}
.avatar img.left {
  left: 50%;
  margin-left: -75px;
}
.avatar img.right {
  right: 50%;
  margin-right: -75px;
}
.avatar img.center {
  left: 50%;
  transform: translateX(-50%);
}
.slider-item .name {
  margin-top: 20px;
  font-size: 2em;
}
.slick-btn {
  background: none;
  border: none;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 999;
}
.slick-btn.next {
  right: 0;
}
.slick-btn img {
  width: 100%;
}

.our-mission {
  background: url('../img/bg-mission.png') center no-repeat #19181D;
  background-size: 110%;
}
.our-mission img {
  width: 350px;
  margin: 0 auto;
  display: block;
}

.reviews {
  background: url('../img/bg-reviews.png') center no-repeat #19181D;
  background-size: cover;
}
.review-block {
  background-color: #489FF8;
  padding: 20px 25px;
  border-radius: 30px;
  width: 100%;
  color: #fff;
  transition: .2s;
}
.review-block .title {
  font-size: 1em;
}
.review-block p {
  font-size: 0.8em;
}
.more-reviews {
  display: block;
  margin: 0 auto;
}

.coach-detail {
  background: url('../img/bg-coach-detail.png') no-repeat center #19181D;
  background-size: 100%;
}
.coach-detail h3 {
  font-size: 4em;
}
.coach-detail .btn {
  text-transform: none;
}
.coach-detail img {
  width: 450px;
  display: block;
  margin: 0 auto;
}

.lesson .nic {
  text-transform: uppercase;
  font-size: 1.8em;
}
.lesson .desc-block {
  margin-left: 30px;
}
.lesson .desc {
  padding: 0;
  list-style: none;
}
.lesson .desc-item::before {
  content: '\2014\00A0\00A0';
}
.lesson .products {
  width: 100%;
  background-color: #25232C;
  border-radius: 20px;
  list-style: none;
  padding: 20px 35px;
}
.lesson .products-item {
  display: flex;
  justify-content: space-between;
  padding: 7px 0;
}
.lesson .products-item .price {
  margin-right: 15px;
}

.nav-mini {
  height: 100%;
  width: 75%;
  position: fixed;
  z-index: 999999;
  top: 0;
  background-color: rgb(29, 29, 29);
  transition: 0.2s;
  right: -105%;
  overflow-y: auto;
}
.nav-mini.open {
  right: 0;
}
.nav-mini-list {
  list-style: none;
  padding: 0;
  font-size: 2em;
  width: 100%;
}
.nav-mini-list .nav-list_item a {
  width: 80%;
  margin: 25px auto 0;
}

.nav-button {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  z-index: 99999;
}

.nav-button span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.nav-button span:nth-child(1) {
  top: 0px;
}

.nav-button span:nth-child(2),.nav-button span:nth-child(3) {
  top: 13px;
}

.nav-button span:nth-child(4) {
  top: 26px;
}

.nav-button.open {
  position: absolute;
  left: 30px;
  top: 30px;
  background-color: #19181D;
}

.nav-button.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav-button.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-button.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.nav-button.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* lg */
@media (max-width: 1199px) {
  h1 {
    font-size: 3.5em!important;
  }
  .title-2 h2 {
    font-size: 2.2em;
  }
  p {
    font-size: 1em;
  }
  .header .offer {
    margin-top: 60px;
  }
  .coach .avatar {
    width: 150px;
    height: 150px;
  }
  .coach .avatar .box {
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .coach .avatar img {
    height: 150px;
  }
  .coach .avatar img.left {
    margin-left: -50px;
  }
  .coach .avatar img.right {
    margin-right: -50px;
  }
  .coach .name {
    font-size: 1.2em;
  }
}

/* md */
@media (max-width: 991px) {
  h1 {
    font-size: 3em!important;
  }
  .title-2 h2 {
    font-size: 1.9em;
  }
  .header {
    height: auto;
    padding-bottom: 50px;
  }
  .header .container {
    position: static;
    transform: none;
  }
  .header .offer .background {
    width: 100%;
  }
  .header .about-project {
    margin-top: 60px;
  }
  section {
    padding: 50px 0;
  }
  .coach-detail .content-block {
    text-align: center;
  }
  .coach-detail img {
    margin-top: 75px;
  }
  .slick-btn {
    width: 55px;
    height: 55px;
  }
  .content-block {
    padding-top: 60px;
  }
}

/* sm */
@media (max-width: 767px) {
  .our-mission img {
    width: 250px;
  }
  .lesson .products-item .name {
    padding-right: 15px;
  }
  .lesson .products-item .block {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .lesson .products-item .price {
    margin-right: 0;
  }
  .lesson .nic {
    text-align: center;
  }
  .coach-detail img {
    width: 270px;
  }
  .slick-btn {
    width: 60px;
    height: 60px;
  }
}